## Artefatos de Compilação do .NET Core
[Bb]in/
[Oo]bj/

## Caches de IDEs e Editores de Código
.vscode/
.cursor/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Arquivos Locais de Histórico do Editor
.base_history