<div class="list-container">
  <h2>Histórico de Análises (DevKit.Forge)</h2>

  <!-- Campo de Filtro Dinâmico Minimalista -->
  <mat-form-field appearance="fill" class="filtro-busca-moderno">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar análises" #input>
  </mat-form-field>
  
  <div class="table-card-wrapper">
    <table mat-table [dataSource]="dadosLogs" class="tabela-moderna">
      
      <ng-container matColumnDef="nomeArquivo">
        <th mat-header-cell *matHeaderCellDef> Nome do Arquivo </th>
        <td mat-cell *matCellDef="let log" class="col-arquivo"> {{log.nomeArquivo}} </td>
      </ng-container>

      <ng-container matColumnDef="dataProcessamento">
        <th mat-header-cell *matHeaderCellDef> Data de Processamento </th>
        <td mat-cell *matCellDef="let log"> {{log.dataProcessamento | date:'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="sucesso">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let log" class="col-status"> 
          <mat-icon [ngClass]="log.sucesso ? 'status-valido' : 'status-invalido'">
            {{ log.sucesso ? 'check_circle' : 'error' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="qtdErros">
        <th mat-header-cell *matHeaderCellDef> Erros Detetados </th>
        <td mat-cell *matCellDef="let log">
          <div class="badge-chip" [ngClass]="log.qtdErros > 0 ? 'chip-erro' : 'chip-neutro'">
            <mat-icon *ngIf="log.qtdErros > 0">warning_amber</mat-icon>
            {{log.qtdErros}} erros
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="qtdAvisos">
        <th mat-header-cell *matHeaderCellDef> Avisos </th>
        <td mat-cell *matCellDef="let log">
          <div class="badge-chip" [ngClass]="log.qtdAvisos > 0 ? 'chip-aviso' : 'chip-neutro'">
            {{log.qtdAvisos}} avisos
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="col-acoes header-acoes">
          <span>File Details</span>          
        </th>
        <td mat-cell *matCellDef="let log" class="col-acoes">
          <button mat-icon-button (click)="baixarRelatorio(log.id, log.nomeArquivo)" title="Exportar Relatório JSON" class="btn-download">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   pageSize="5"
                   showFirstLastButtons
                   aria-label="Selecione a página de logs">
    </mat-paginator>
  </div>
</div>